@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    padding: 1rem;
}

.desktop-navbar{
    display: none;
}

.mobile-navbar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-navbar ul{
    list-style: none;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    margin-top: 1rem;
}

.mobile-navbar li{
    /* background-color: black; */
    margin: 0 1rem;
    text-align: center;
    padding: 0.5rem;
    
    
}

.mobile-navbar li a{
    display: inline-block;
    /* background-color: red; */
    text-decoration: none;
    width: 100%;
    padding: 0.4rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    /* border: 1px solid white; */
    border-radius: 50px;
}

.mobile-navbar li a:hover{
    background-color: cyan;
}

.mobile-menu{
    
    border-radius: 10px;
    padding: 0.5rem;
}

.menu{
    background-color: cyan;
}




@media only screen and (min-width:49rem){
    .container{
        padding: 2rem;
    }
    
    .mobile-navbar{
        display: none;
    }
    .desktop-navbar{
        display: flex;
        align-items: center;
        
    }
    .desktop-navbar div{
        margin: 0.8rem;
        
    }
    
    .desktop-navbar a{
        /* background-color: black; */
        text-decoration: none;
        color: rgb(92, 91, 91);
        padding: 0.5rem 1rem;
        border-radius: 10px;
        /* font-size: 1.2rem; */
    
    }
    .desktop-navbar a:hover{
        color: black;
        background-color: cyan;
    }
}

.row1 img{
    display: block;
    width: 100%;
}
.row1{
    text-align: center;
    margin-top: 1.5rem;
}
.row1item2{
    padding: 1rem;
}

.row1item2 h1{
    font-size: 3rem;
}

.row1item2 p{
    margin-bottom: 2rem;
}

.gs-btn{
    color: white;
    background-color: rgb(1, 223, 223);
    padding: 1rem 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1.2rem;
}

.gs-btn:hover{
    background-color: rgb(94, 250, 250);
}

@media only screen and (min-width:49rem){
    .row1{
        display: flex;
        align-items: center;
    }

    
}

.just-for-bgcolor{
    background-color: #eff1f7;
    padding: 0 1rem;
}


.input-details{
    background-image: url("images/bg-shorten-mobile.svg");
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    text-align: center;
    border-radius: 10px;
}



.input-filed input{
    margin-top: 1rem;
    width: 75%;
    padding: 0.7rem;
    border-radius: 10px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    
}

.input-filed p{
    color: red;
    visibility: hidden;

}

.error p{
    visibility: visible;
}

.error input{
    border: 1px solid red;
}

.sort-btn{
    padding: 1rem 2.0rem;
    min-width: 8rem;
    margin-bottom: 1rem;
}

.buffer{
    
    visibility: hidden;
    margin-bottom: 0.5rem;
}




@media only screen and (min-width:49rem){
    .just-for-bgcolor{
        padding: 0 2rem;
    }
    .input-details{
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    .sort-btn{
        padding: 0.5rem;
        margin-bottom:0;
    }

    .buffer{
        margin-right: 0.8rem;
        margin-bottom: 0rem;
    }

    .input-filed{
        flex-basis: 75%;
    }

    
}

.sorted-list{
    list-style: none;
}

.sorted-list li{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin: 1rem 0;
}

.input-link{
    padding: 0.5rem 0;
    border-bottom: 1px solid black;
}
.output-link{
    padding: 0.5rem 0;
    color: rgb(6, 216, 216);
}
.copy-btn{
    width: 90%;
    padding: 0.2rem ;
    margin-bottom: 1rem;
}



@media only screen and (min-width:49rem){
    .sorted-list li{
        text-align: left;
    }
    .sorted-list li div{
        display: flex;
        align-items: center;
        
        
    }
    .sorted-list li div > * + *{
        margin-left: 0.8rem;
    }
    .input-link{
        padding: 0;
        border: none;
        flex-grow: 1;
    }
    .copy-btn{
        max-width: 7rem;
        border-radius: 10px;
        margin-bottom: 0rem;
    }
}


.row3{
    /* background-color: green; */
    text-align: center;
    padding: 0 1rem;
    margin-top: 1rem;
}

.row3-details{
    margin: 3rem auto;
    max-width: 30rem;
}



.card{
    background-color: white;
    /* text-align: center; */
    border-radius: 10px;
    padding: .5rem 0;
    margin-bottom: 1.3rem;
}

.card img{
    
    padding: 1rem;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50px;
}

@media only screen and (min-width:49rem){
    .card-container{
        display: flex;
    }

    .card-container > * + *{
        margin-left: 2rem;
    }

    .item2{
        margin-top: 2rem;
    }

    .item3{
        margin-top: 4rem;
    }
}

.row4{
    background-color: hsl(257, 27%, 26%);
    background-image: url("images/bg-boost-desktop.svg");
    background-size: cover;
    text-align: center;
}

.row4-details{
    
    padding: 2rem 0;
    
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.footer .logo{
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
}

.footer-list{
    list-style: none;
}

.footer-links div{
    margin: 2rem 0;
}
.footer-links div h3{
    margin-bottom: 0.5rem;
}

.footer-list a{
    text-decoration: none;
    display: inline-block;
    color: rgb(139, 137, 137);
    padding: 0.2rem;
    margin: 0.1rem 0;
    border-radius: 10px;
}

.footer-list a:hover{
    background-color: white;
    color: black;
}

.social-media a{
    margin: 0.5rem ;
}


@media only screen and (min-width:49rem){

    .footer-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}